/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 414px) { }

@media (max-width: 767px) { 
    #no-mobile{
        display:none;
    }
   .welcome {
	font-size: 22px !important;
	margin-top: 0px !important;
}

.terms {
font-size: 15px !important;
}

.signup {
font-size: 14px !important;
line-height: 1.2 !important;
padding: 5px 12px;
}

.btn-warning.signup{
font-size: 25px !important;
padding-top: 16px !important;
}

.school_code{
	font-size: 22px !important;
	padding-left: 16px !important;
	height: 68px !important;
	padding-top: 0px !important;
}

.hide-on-mobile{
	display: none !important;
}
.signup br{
display: inherit !important;
}
.invitation-mobile{
	display: inherit !important;
	font-size: 22px !important;
	text-align: center !important;
	margin-top: -22px !important;
}

.centered_text span {
font-size: 16px !important;
}

.top-buffer {
margin-top: 10px !important;
}




}	

/**********************************************************************/

/*[class*="col-"] {
padding-top: 1px;
padding-bottom: 1px;
background-color: #eee;
background-color: rgba(86,61,124,.15);
border: 1px solid #ddd;
border: 1px solid rgba(86,61,124,.2);
}
*/

body{
font-family: 'Quicksand', sans-serif !important;
font-weight: 300;
color: #144758 !important;
font-size: 100% !important;
}


footer{
	background-color: #F47832;
	height: 160px;
	margin-top: 10px;
}

section {
padding: 0px 0;
}

ul.nav.navbar-nav{
margin-top: 20px;
}

.navbar {
background:#144758;
height: 100px;
}

ul.nav.navbar-nav li a{
	color: #ffffff;
	font-size: 18px;
}
ul.nav.navbar-nav li a:hover, .ul.nav.navbar-nav li a:focus {
text-decoration: none;
color: yellow;
background-color: transparent;
}

.navbar-brand img{
	margin-top: 5px;
	margin-left: -30px;
}


.centered_text{
    margin: 0 auto;
    text-align: center;
}
.centered_text span{
	font-size: 22px;
	color: #144758;
}
.invitation-mobile{display: none;}


.col-centered{
    float: none;
    margin: 0 auto;
}
.welcome {
font-size: 40px;
font-weight: 700;
margin-top: 28px;
margin-bottom: 25px;
text-align: center;
color: #144758;
}
.invitation{font-size: 25px;
	text-align: center;
}

.school_code{
	display: block;
	width: 100%;
	height: 45px;
	border-style: solid;
    border-color: #144758;
    border-radius: 6px;
    border-width: 2px;
    font-size: 25px;
    padding-left: 27px;
}

.account-login{
	background-color: #BFE5F0;
	font-size: 20px;}

.btn-warning.signup{
	height: 68px;
font-size: 30px;
font-weight: 700;
padding-top: 10px;
background-color: #AECF74;
border-color: transparent;
text-shadow: none !important;
-webkit-box-shadow:none;
box-shadow: none;
}



.btn-warning:hover, 
.btn-warning:focus, 
.btn-warning.focus, 
.btn-warning:active, 
.btn-warning.active, 
.open>.dropdown-toggle.btn-warning {
color: #144758 !important;
background-color: #F0EC64 !important;
border-color: #F0EC64 !important;
text-shadow: none !important;
-webkit-box-shadow:none;
box-shadow: none;
}

#signup{
	width: 100%;
	height: 68px;
font-size: 30px;
font-weight: 700;
padding-top: 10px;
border-color: transparent;
border: none;
}

#no-school,
#ConfirmPin span img{
	width: 6%;
	float: right;
	}

#signup:hover,
#signup:focus, 
#signup.focus, 
#signup:active, 
#signup.active, {
	color: #144758 ;
	background-color: #F0EC64;
	border-color: #F0EC64;

}


.signup_login{	
width: 100%;
height: 68px;
background-color: #BFE5F0;
font-size: 24px;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
background-image: none;
white-space: nowrap;
padding: 6px 12px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}
.signup_login br{
display: none;
}


.get-in-touch{
	text-decoration: underline;	
	font-weight: 700;
	color: #144758;
}
.terms {
text-align: center;
color: #fff;
padding-top: 30px;
font-size: 17px;
}

.social-icon{padding-right: 20px;}

.top-buffer { margin-top:20px; }

/*******************Teacher step 2*******************/
.text-center {
text-align: center;
}


#yes-school{
		height: 68px;
		width: 100%;
		font-size: 30px;
		font-weight: 700;
		padding-top: 10px;
		background-color: #AECF74;
		border-color: transparent;
		text-shadow: none !important;
		-webkit-box-shadow:none;
		box-shadow: none;

}

#yes-school span img{
	width: 6%;
	float: right;
	}

#yes-school:hover, 
#yes-school:focus, 
#yes-school.focus, 
#yes-school:active, 
#yes-school.active, 
.open>.dropdown-toggle#yes-school {
color: #144758;
background-color: #000000;
border-color: #F0EC64 !important;
text-shadow: none !important;
-webkit-box-shadow:none;
box-shadow: none;
}

#no-school{
		height: 68px;
		width: 100%;
		font-size: 30px;
		font-weight: 700;
		padding-top: 10px;
		background-color: #E8CD5C;
		border-color: transparent;
		text-shadow: none !important;
		-webkit-box-shadow:none;
		box-shadow: none;
}

#no-school span img{
	width: 6%;
	float: right;
	}

.accept-terms,
.no-accept-terms{
	font-size: 18px;
	color: #01A1B2;
}

.confirm-school{font-size: 25px;}

/*******************end teacher step 2************************/

/*******************Teacher step 3************************/

label{font-size: 15px;}

#FirstName,
#LastName,
#EmailAddress,
#MobileNumber,
#CreatePassword,
#ConfirmPassword
{display: block;
width: 100%;
height: 45px;
border-style: solid;
border-color: #144758;
border-radius: 6px;
border-width: 1px;
font-size: 25px;
padding-left: 27px;}

/*******************End teacher step 3************************/


/*******************Teacher step 4************************/

#ConfirmPin{
		width: 100%;
		height: 68px;
		font-size: 30px;
		font-weight: 700;
		padding-top: 10px;
		background-color: #AECF74;
		border-color: transparent;
		}
/*******************End teacher step 4************************/

.icon-teacher-in{padding-right: 4px;}

